#bottomCardDiv{
    /* display: flex;
    justify-content: space-between; */
    /* border: 1px solid red; */
    display: grid;
    /* width: 90%; */
      margin: auto;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-column-gap: 3%;
      grid-row-gap:5%;
      margin-top: 3%;
      margin-bottom: 50px;
    /* margin: 5% 0 5% 0; */
}
#bottomCardHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topProducts{
    /* border: 1px solid red; */
    /* width: 420px; */
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
#bottomCardHeadingLeft{
    /* border: 1px solid red; */
    flex: 7;
}
#bottomCardHeadingRight{
    /* width: 30%; */
    flex: 8;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    /* border: 1px solid red; */
}
#Schedule>#bottomCardHeading>#bottomCardHeadingLeft{
    flex: 10;
}
#topProductsData{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#topProductsDataRight{
    text-align: left;
    /* border: 1px solid red; */
}
#productName{
    display: flex;
    align-items: center;
    text-align: left;
}
#product{
    margin-bottom: 10px;
}
#productColor{
    width: 11px;
    height: 11px;
    background: #98D89E;
    border-radius: 50%;
    margin-right: 10px;
}
#productPercent{
    color: #858585;
    margin-left: 20px;
}
#Schedule{
    /* border: 1px solid red; */
    /* width: 420px; */
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
#schedule1{
    /* border: 1px solid red; */
    border-left: 5px solid lightgreen;
    padding: 10px;
    margin-top: 20px;
}
#schedule1,#schedule2>p{
    color: #999999;
}
#scheduleHeading{
    color: #666666;
}
#schedule2{
    /* border: 1px solid red; */
    border-left: 5px solid #6972C3;
    padding: 10px;
    margin-top: 20px;
}
@media all and (max-width: 450px) {
    #bottomCardDiv{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         /* border: 1px solid red; */
         margin-top: 30px;
    }
}