#mainGraphContainer{
    padding:20px;
    border-radius: 10px;
    background-color: white;
}
#graphContainer{
    max-width: 99%;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
}
#chartHeading{
    /* width: 30%; */
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    /* border: 1px solid red; */
}
@media all and (max-width: 450px) {
    #mainGraphContainer{
        /* width: 300px; */
        margin-top: 100px;
    }
}