#container{
    display: flex;
    /* border: 1px solid red;    */
    padding: 1%;
    background-color: #f5f5f5;
    /* width: 100vw; */
    min-height: 100vh;
    box-sizing: border-box;
    /* justify-content: space-around; */
}
#left{
    /* width: */
    width: 300px;
    /* border: 1px solid red; */
}
#right{ 
    /* border: 1px solid red; */
    margin-left: 20px;
    /* width: ; */
    flex: 3;
}
@media all and (max-width: 850px) {
    #container{
        padding: 3%;
    }
    #left{
        display: none;
    }
    #right{
        margin: auto;
    }
}