#dashboardContainer{
    display: flex;
    padding: 1%;
    background-color: #f5f5f5;
    /* width: 100vw; */
    min-height: 100vh;
    box-sizing: border-box;
    /* justify-content: space-around; */
}
#dashboardLeft{
    width: 300px;
}
#dashboardRight{ 
    margin-left: 20px;
    flex: 3;
}
@media all and (max-width: 850px) {
    #dashboardContainer{
        padding: 3%;
    }
    #dashboardLeft{
        display: none;
    }
    #dashboardRight{
        margin: auto;
    }
}