#container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
#left{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 36px;
}
#right{
    background-color: #F5F5F5;
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 750px) { 
    #container{
        display: block;
    }
    #left{
        height: 100vh;
    }
    #right{
        height: 100vh;
        /* padding-top: 3%;
        padding-bottom: 1%; */
    }
}
@media all and (max-width: 450px) {
    #right{
        height: 600px;
        padding-top: 5%;
        padding-bottom: 5%;
        /* padding-top: 3%;
        padding-bottom: 1%; */
    }
} 