#nav-container{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 20px;
}
#nav-left{
    /* border: 1px solid red; */
    flex: 7;
}
#nav-right{
    /* width: 30%; */
    flex: 5;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    /* border: 1px solid red; */
}
/* #user{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid red;
} */
#userImage{
    cursor: pointer;
    /* border: 1px solid red; */
    border-radius: 50%;
}
#search{
    padding: 8px;
    border-radius: 10px;
    border: none;
}
#navIcon{
    cursor: pointer;
}
@media all and (max-width: 900px) {
    #search{
        display: none;
    }
}